.inital-text{
  display: block;
  margin-top: 15px;
}

.list-group-item{
  cursor: pointer;

  &.active{
    border-color: transparent;
    background-color: #E33022;
  }
}

.card-block{
  padding: 30px 0;
}